<application>
    <vbox height="100%">
        <container prefer="40" style="margin-bottom:3px;">
            <region name="toolbar" controller="@binding[toolbar]" height="100%"></region>
        </container>
        <hbox>
            <tab width="200" maxTabWidth="100" minTabWidth="100" resizable="true" resizeHandles="r" resizeMinWidth="200">
                <panel title="层级">
                    <region name="hierarchy" controller="@binding[hierarchy]" style="height:100%"></region>
                </panel>
                <panel title="组件">
                    <region name="component" controller="@binding[component]" style="height:100%"></region>
                </panel>
            </tab>
            <region flex="1" name="viewport" style="margin:10px;" controller="@binding[viewport]"></region>
            <container width="280" resizable="true" resizeHandles="l" resizeMinWidth="280">
                <region style="height:100%" name="property" controller="@binding[property]" ></region>
            </container>
        </hbox>
    </vbox>
</application>